# Series is same as one D array in Numpy and vector in R
## Series is homogeneous like vector

In [3]:
import pandas as pd
ser=pd.Series([4,7,-5,3])
print(ser)
print(ser.values)
print(ser.index)

0    4
1    7
2   -5
3    3
dtype: int64
[ 4  7 -5  3]
RangeIndex(start=0, stop=4, step=1)

In [4]:
ser[2]

-5

In [2]:
import pandas as pd
ser=pd.Series([4,7,6,8])
ser

0    4
1    7
2    6
3    8
dtype: int64

In [6]:
ser[1:4]

1    7
2   -5
3    3
dtype: int64

##series are closer to vectors in R like naming indexes.

In [8]:
 ser>0

0     True
1     True
2    False
3     True
dtype: bool

In [9]:
ser[ser>0]

0    4
1    7
3    3
dtype: int64

In [10]:
#scalar multiplication
ser*2

0     8
1    14
2   -10
3     6
dtype: int64

In [15]:
print(2 in ser)

True

In [7]:
list(ser.items())

NameError: name 'ser' is not defined

In [4]:
import pandas as pd
sdata={'Ohio':8555,'Oregon':5000,'Texas':8222,'Utah':4111}
print(sdata)
type(sdata)

{'Ohio': 8555, 'Oregon': 5000, 'Texas': 8222, 'Utah': 4111}

dict

In [9]:
ser3=pd.Series(sdata)
print(ser3)
type(ser3)

Ohio      8555
Oregon    5000
Texas     8222
Utah      4111
dtype: int64

pandas.core.series.Series

In [13]:
states=['California','Ohio','Oregon','Texas']
ser4=pd.Series(sdata,index=states)
print(ser4)

California       NaN
Ohio          8555.0
Oregon        5000.0
Texas         8222.0
dtype: float64

# Dataframe
## Multi dimensional

In [16]:
import pandas as pd
data={'state':['Ohio','Ohio','Ohio','Nevada','Nevada'],
    'year':['2000','2001','2002','2000','2001'],
     'pop':['1.5','1.7','3.6','2.4','2.9']}
print(data)
frame=pd.DataFrame(data)
print(frame)

{'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'], 'year': ['2000', '2001', '2002', '2000', '2001'], 'pop': ['1.5', '1.7', '3.6', '2.4', '2.9']}
   pop   state  year
0  1.5    Ohio  2000
1  1.7    Ohio  2001
2  3.6    Ohio  2002
3  2.4  Nevada  2000
4  2.9  Nevada  2001

In [6]:
print(data['state'])

['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada']

In [1]:
import pandas as pd
obj=pd.Series([7, -5, 7, 4, 2, 0, 4])
print(obj.rank())

0    6.5
1    1.0
2    6.5
3    4.5
4    3.0
5    2.0
6    4.5
dtype: float64

In [ ]:
#producing multiple summary statistics in one shot:

print("Summary Statistics :\n",df.describe())