In [1]:
num = 2
for a in range(1,6):
    print(num*a)

2
4
6
8
10

In [24]:
#range(1,10)
#print(range(1,10))
#print(list(range(1,10)))
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
for a in range(1,10):
    print(a)

1
2
3
4
5
6
7
8
9

In [13]:
numbers=[1,2,3,4,5,6,7,8,9,10]
sum=0
for a in numbers:
    sum=sum+a
    print("the sum is", sum)

the sum is 1
the sum is 3
the sum is 6
the sum is 10
the sum is 15
the sum is 21
the sum is 28
the sum is 36
the sum is 45
the sum is 55

In [25]:
numbers=[1,2,3,4,5,6,7,8,9,10]
sum=0
for a in numbers:
    #sum=sum+a
    sum+=a
print("the sum is", sum)

the sum is 55

In [26]:
numbers=(1,10)
for a in numbers:
    print(a)

1
10

In [38]:
n=5
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end=" ")
    print("\r")
    #print("")

*
* *
* * *
* * * *
* * * * *

In [57]:
str=''
for i in range(0,11):
    if i < 6:
        str=str +'*'
        print(str)
    elif i > 5:
        str=str[:-1]
        print(str)

*
**
***
****
*****
******
*****
****
***
**
*

In [58]:
5%2

1

In [60]:
5//2

2

# To print only odd numbers

In [62]:
for a in range(10):
    if a%2==0:
        continue
    print(a)

1
3
5
7
9

# else

In [63]:
count=0
while(count<5):
    print(count)
    count +=1
else:
    print("count value reached %d" %(count))

0
1
2
3
4
count value reached 5

In [66]:
# Prints out 1,2,3,4
for i in range(1, 10):
    if(i%5==0):
        break
    print(i)
else:
    print("this is not printed because for loop is terminated because of break but not due to fail in condition")

1
2
3
4

### Loop through and print out all even numbers from the numbers list in the same order they are received. Don't print any numbers that come after 237 in the sequence.

In [67]:
numbers = [
    951, 402, 984, 651, 360, 69, 408, 319, 601, 485, 980, 507, 725, 547, 544,
    615, 83, 165, 141, 501, 263, 617, 865, 575, 219, 390, 984, 592, 236, 105, 942, 941,
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
    958, 609, 842, 451, 688, 753, 854, 685, 93, 857, 440, 380, 126, 721, 328, 753, 470,
    743, 527
]

# your code goes here
for number in numbers:
    if number == 237:
        break

    if number % 2 == 1:
        continue

    print(number)

402
984
360
408
980
544
390
984
592
236
942
386
462
418
344
236
566
978
328
162
758
918

In [6]:
num=7
for a in range(1,5):
    res=num*a
    print(res)

7
14
21
28

In [7]:
num=7
for a in range(1,5):
    res=num*a
print(res)

28

In [11]:
#Write a program to find the sum of Natural Number from 1 to 10
sum=0
for a in range(1,11):
    sum+=a
    #sum=sum+a
print(sum)

55

In [26]:
# Python code to demonstrate star pattern
n=6
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [67]:
def numpat(n):
    
    for i in range(0,n):
        num=0
        for j in range(0,i+1):
            num=num+1
            print(num,end=" ")
        print("\r")
    
       

n=6
numpat(n)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6