In [2]:
import pandas as pd
import os
os.getcwd()

'C:\\Users\\Puneet'

In [4]:
os.chdir("C:\\Users\\Puneet\\Downloads\\Capstone Project\\Capstone Project")
train=pd.read_csv("train Data.csv",low_memory=False)
train.head()
train.shape

(14644, 1379)

In [3]:
train.dtypes

id           int64
release     object
n_0000     float64
n_0001     float64
n_0002     float64
n_0003     float64
n_0004     float64
n_0005     float64
n_0006     float64
n_0007     float64
n_0008     float64
n_0009     float64
n_0010     float64
n_0011     float64
n_0012     float64
n_0013     float64
n_0014     float64
n_0015     float64
n_0016     float64
n_0017     float64
n_0018     float64
n_0019     float64
n_0020     float64
n_0021     float64
n_0022     float64
n_0023     float64
n_0024     float64
n_0025     float64
n_0026     float64
n_0027     float64
            ...
c_1348      object
c_1349      object
c_1350      object
c_1351      object
c_1352      object
c_1353      object
c_1354      object
c_1355      object
c_1356      object
c_1357      object
c_1358      object
c_1359      object
c_1360      object
c_1361      object
c_1362      object
c_1363      object
c_1364      object
c_1365      object
c_1366      object
c_1367      object
c_1368      object
c_1369      object
c_1370      object
c_1371      object
c_1372      object
c_1373      object
c_1374      object
c_1375      object
c_1376      object
c_1377      object
Length: 1379, dtype: object

In [4]:
df= pd.DataFrame({"col":train.columns.values,"missing":list(train.isnull().sum())})
df.head()

       col  missing
0       id        0
1  release        0
2   n_0000    14625
3   n_0001    13884
4   n_0002      644

In [5]:
cols=df[df.missing> 0.8*14644].col
train.drop(cols,axis=1,inplace=True)
train.shape

(14644, 341)

In [6]:
3train.head()

,id,release,n_0002,n_0005,n_0012,n_0019,n_0028,n_0034,n_0038,n_0039,...,c_1333,c_1335,c_1343,c_1347,c_1348,c_1361,c_1363,c_1372,c_1374,c_1377
0,11193,a,0.025449,0.368421,0.292683,0.0,NaN,0.223881,0.193548,NaN,...,e,w,b,NaN,b,e,b,a,q,NaN
1,11382,a,0.031297,0.315789,0.243902,0.0,NaN,0.104478,0.177419,NaN,...,e,q,b,NaN,b,e,b,a,NaN,NaN
2,16531,a,0.024475,0.342105,0.304878,0.0,NaN,0.119403,0.290323,NaN,...,e,u,a,NaN,b,c,a,a,b,NaN
3,1896,a,0.041694,0.447368,0.207317,0.0,NaN,0.149254,0.370968,NaN,...,NaN,w,a,NaN,b,g,a,a,NaN,NaN
4,18262,c,0.038120,0.315789,0.219512,0.0,NaN,0.074627,0.177419,0.3125,...,e,b,b,d,b,e,b,a,a,NaN

In [7]:
train.drop(['id','release'], axis=1, inplace=True)
train.shape

(14644, 339)

In [8]:
df2=train[train.columns[pd.Series(train.columns).str.startswith('c')]]
type(df2)

pandas.core.frame.DataFrame

In [9]:
for column in df2.columns:
    df2[column].fillna(df2[column].mode()[0], inplace=True)
df2.head()

C:\Users\Puneet\Anaconda3\lib\site-packages\pandas\core\generic.py:3660: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

,c_0332,c_0337,c_0339,c_0348,c_0351,c_0357,c_0361,c_0364,c_0368,c_0369,...,c_1333,c_1335,c_1343,c_1347,c_1348,c_1361,c_1363,c_1372,c_1374,c_1377
0,a,a,b,f,o,c,a,a,b,f,...,e,w,b,c,b,e,b,a,q,b
1,a,a,b,k,s,c,a,a,b,e,...,e,q,b,c,b,e,b,a,b,b
2,a,b,b,p,f,c,a,b,b,l,...,e,u,a,c,b,c,a,a,b,b
3,a,a,b,f,o,c,a,b,b,l,...,e,w,a,c,b,g,a,a,b,b
4,a,a,b,t,c,c,b,a,b,n,...,e,b,b,d,b,e,b,a,a,b

In [10]:
df3=train[train.columns[pd.Series(train.columns).str.startswith('n')]]
type(df3)

pandas.core.frame.DataFrame

In [11]:
import numpy as np
from sklearn.preprocessing import Imputer

In [12]:
imp = Imputer(missing_values='NaN', strategy='mean', axis=1)
dfn=imp.fit_transform(df3)

dfn=pd.DataFrame(dfn,columns=df3.columns.values)
dfn.head()

,n_0002,n_0005,n_0012,n_0019,n_0028,n_0034,n_0038,n_0039,n_0047,n_0048,...,n_0083,n_0086,n_0091,n_0095,n_0099,n_0100,n_0102,n_0108,n_0109,n_0110
0,0.025449,0.368421,0.292683,0.0,0.529169,0.223881,0.193548,0.529169,1.0,0.529169,...,1.000000,0.450,1.0,0.529169,0.529169,0.12,0.242424,0.800000,0.1875,0.009231
1,0.031297,0.315789,0.243902,0.0,0.475971,0.104478,0.177419,0.475971,1.0,0.475971,...,0.000000,0.475,1.0,0.475971,0.475971,0.18,0.484848,0.666667,0.1875,0.009231
2,0.024475,0.342105,0.304878,0.0,0.543146,0.119403,0.290323,0.543146,1.0,0.818182,...,1.000000,0.875,1.0,0.543146,0.543146,0.00,0.409091,0.833333,0.1875,0.006154
3,0.041694,0.447368,0.207317,0.0,0.514678,0.149254,0.370968,0.514678,1.0,0.514678,...,0.833333,0.650,1.0,0.514678,0.418605,0.10,0.212121,0.566667,0.1875,0.000000
4,0.038120,0.315789,0.219512,0.0,0.394853,0.074627,0.177419,0.312500,1.0,0.181818,...,0.666667,0.550,1.0,0.017857,0.394853,0.10,0.333333,0.600000,0.2500,0.015385

In [13]:
df4=train[train.columns[pd.Series(train.columns).str.startswith('o')]]

imp = Imputer(missing_values='NaN', strategy='median', axis=1)
dfo=imp.fit_transform(df4)

dfo=pd.DataFrame(dfo,columns=df4.columns.values)
dfo.head()

,o_0120,o_0125,o_0129,o_0132,o_0141,o_0144,o_0147,o_0152,o_0153,o_0154,...,o_0270,o_0274,o_0276,o_0279,o_0285,o_0286,o_0301,o_0314,o_0315,o_0323
0,0.0,6.0,8.5,9.0,15.0,8.0,4.0,8.5,4.0,8.5,...,8.5,27.0,8.5,10.0,8.5,15.0,12.0,8.5,0.0,8.5
1,0.0,0.0,8.5,6.0,19.0,8.0,8.5,8.5,5.0,8.5,...,6.0,33.0,8.5,14.0,8.5,14.0,10.0,8.5,0.0,8.5
2,0.0,0.0,5.5,3.0,14.0,7.0,5.5,5.5,5.5,5.5,...,3.0,23.0,5.5,32.0,5.5,5.0,6.0,5.5,5.5,5.5
3,2.0,8.0,5.5,1.0,27.0,8.0,1.0,5.5,2.0,5.5,...,6.0,46.0,5.5,5.5,5.5,30.0,8.0,5.5,0.0,5.5
4,0.0,11.0,0.0,6.0,24.0,8.0,8.0,0.0,5.0,0.0,...,9.0,40.0,8.0,20.0,8.0,19.0,13.0,0.0,0.0,0.0

In [14]:
dfo.dtypes

o_0120    float64
o_0125    float64
o_0129    float64
o_0132    float64
o_0141    float64
o_0144    float64
o_0147    float64
o_0152    float64
o_0153    float64
o_0154    float64
o_0157    float64
o_0168    float64
o_0175    float64
o_0176    float64
o_0179    float64
o_0201    float64
o_0202    float64
o_0208    float64
o_0217    float64
o_0221    float64
o_0223    float64
o_0230    float64
o_0231    float64
o_0241    float64
o_0248    float64
o_0264    float64
o_0265    float64
o_0268    float64
o_0270    float64
o_0274    float64
o_0276    float64
o_0279    float64
o_0285    float64
o_0286    float64
o_0301    float64
o_0314    float64
o_0315    float64
o_0323    float64
dtype: object

In [15]:
import numpy as np
from sklearn.decomposition import PCA
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import scale
%matplotlib inline

In [16]:
df2_dummies=pd.get_dummies(df2,drop_first=True)
df2_dummies.head()

,c_0332_b,c_0337_b,c_0339_b,c_0348_b,c_0348_c,c_0348_d,c_0348_e,c_0348_f,c_0348_g,c_0348_h,...,c_1374_p,c_1374_q,c_1374_r,c_1374_s,c_1374_t,c_1374_u,c_1374_v,c_1374_w,c_1374_x,c_1377_b
0,0,0,1,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,1
1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [17]:
result=pd.concat([dfn,dfo,df2_dummies,],axis=1)
result.head()

,n_0002,n_0005,n_0012,n_0019,n_0028,n_0034,n_0038,n_0039,n_0047,n_0048,...,c_1374_p,c_1374_q,c_1374_r,c_1374_s,c_1374_t,c_1374_u,c_1374_v,c_1374_w,c_1374_x,c_1377_b
0,0.025449,0.368421,0.292683,0.0,0.529169,0.223881,0.193548,0.529169,1.0,0.529169,...,0,1,0,0,0,0,0,0,0,1
1,0.031297,0.315789,0.243902,0.0,0.475971,0.104478,0.177419,0.475971,1.0,0.475971,...,0,0,0,0,0,0,0,0,0,1
2,0.024475,0.342105,0.304878,0.0,0.543146,0.119403,0.290323,0.543146,1.0,0.818182,...,0,0,0,0,0,0,0,0,0,1
3,0.041694,0.447368,0.207317,0.0,0.514678,0.149254,0.370968,0.514678,1.0,0.514678,...,0,0,0,0,0,0,0,0,0,1
4,0.038120,0.315789,0.219512,0.0,0.394853,0.074627,0.177419,0.312500,1.0,0.181818,...,0,0,0,0,0,0,0,0,0,1

In [18]:
result.dtypes

n_0002      float64
n_0005      float64
n_0012      float64
n_0019      float64
n_0028      float64
n_0034      float64
n_0038      float64
n_0039      float64
n_0047      float64
n_0048      float64
n_0050      float64
n_0051      float64
n_0052      float64
n_0059      float64
n_0060      float64
n_0061      float64
n_0064      float64
n_0066      float64
n_0067      float64
n_0071      float64
n_0074      float64
n_0075      float64
n_0078      float64
n_0083      float64
n_0086      float64
n_0091      float64
n_0095      float64
n_0099      float64
n_0100      float64
n_0102      float64
             ...
c_1361_e      uint8
c_1361_f      uint8
c_1361_g      uint8
c_1361_h      uint8
c_1363_b      uint8
c_1372_b      uint8
c_1374_b      uint8
c_1374_c      uint8
c_1374_d      uint8
c_1374_e      uint8
c_1374_f      uint8
c_1374_g      uint8
c_1374_h      uint8
c_1374_i      uint8
c_1374_j      uint8
c_1374_k      uint8
c_1374_l      uint8
c_1374_m      uint8
c_1374_n      uint8
c_1374_o      uint8
c_1374_p      uint8
c_1374_q      uint8
c_1374_r      uint8
c_1374_s      uint8
c_1374_t      uint8
c_1374_u      uint8
c_1374_v      uint8
c_1374_w      uint8
c_1374_x      uint8
c_1377_b      uint8
Length: 1650, dtype: object

In [19]:
lable1=pd.read_csv("train labels.csv")
#labels = np.array(features['actual'])
lable1.shape
lable1.head()

,id,service_a,service_b,service_c,service_d,service_e,service_f,service_g,service_h,service_i,service_j,service_k,service_l,service_m,service_n
0,11193,1,1,0,0,0,0,0,0,0,1,1,0,0,0
1,11382,0,0,0,0,0,0,0,0,0,1,1,0,0,0
2,16531,0,0,0,0,0,0,0,0,0,1,1,0,0,0
3,1896,0,0,0,1,0,0,0,0,0,1,0,1,0,0
4,18262,0,0,0,1,1,0,0,0,0,0,1,1,1,0

In [20]:
label1=lable1.drop(['service_b','service_c','service_d','service_e','service_f','service_g','service_h','service_i','service_j','service_k','service_l','service_m','service_n','id'], axis= 1, inplace=True)

In [21]:
lable1.shape

(14644, 1)

In [22]:
lable1.head()

   service_a
0          1
1          0
2          0
3          0
4          0

In [23]:
train_data=pd.concat([result,lable1,],axis=1)
train_data.head()

,n_0002,n_0005,n_0012,n_0019,n_0028,n_0034,n_0038,n_0039,n_0047,n_0048,...,c_1374_q,c_1374_r,c_1374_s,c_1374_t,c_1374_u,c_1374_v,c_1374_w,c_1374_x,c_1377_b,service_a
0,0.025449,0.368421,0.292683,0.0,0.529169,0.223881,0.193548,0.529169,1.0,0.529169,...,1,0,0,0,0,0,0,0,1,1
1,0.031297,0.315789,0.243902,0.0,0.475971,0.104478,0.177419,0.475971,1.0,0.475971,...,0,0,0,0,0,0,0,0,1,0
2,0.024475,0.342105,0.304878,0.0,0.543146,0.119403,0.290323,0.543146,1.0,0.818182,...,0,0,0,0,0,0,0,0,1,0
3,0.041694,0.447368,0.207317,0.0,0.514678,0.149254,0.370968,0.514678,1.0,0.514678,...,0,0,0,0,0,0,0,0,1,0
4,0.038120,0.315789,0.219512,0.0,0.394853,0.074627,0.177419,0.312500,1.0,0.181818,...,0,0,0,0,0,0,0,0,1,0

In [25]:

# Load scikit's random forest classifier library
from sklearn.ensemble import RandomForestClassifier

# Load pandas
import pandas as pd

# Load numpy
import numpy as np

# Set random seed
np.random.seed(0)

In [28]:
train_data['is_target'] = np.random.uniform(0, 1, len(train_data)) <= .75

# View the top 5 rows
train_data.head()

,n_0002,n_0005,n_0012,n_0019,n_0028,n_0034,n_0038,n_0039,n_0047,n_0048,...,c_1374_r,c_1374_s,c_1374_t,c_1374_u,c_1374_v,c_1374_w,c_1374_x,c_1377_b,service_a,is_target
0,0.025449,0.368421,0.292683,0.0,0.529169,0.223881,0.193548,0.529169,1.0,0.529169,...,0,0,0,0,0,0,0,1,1,True
1,0.031297,0.315789,0.243902,0.0,0.475971,0.104478,0.177419,0.475971,1.0,0.475971,...,0,0,0,0,0,0,0,1,0,True
2,0.024475,0.342105,0.304878,0.0,0.543146,0.119403,0.290323,0.543146,1.0,0.818182,...,0,0,0,0,0,0,0,1,0,True
3,0.041694,0.447368,0.207317,0.0,0.514678,0.149254,0.370968,0.514678,1.0,0.514678,...,0,0,0,0,0,0,0,1,0,True
4,0.038120,0.315789,0.219512,0.0,0.394853,0.074627,0.177419,0.312500,1.0,0.181818,...,0,0,0,0,0,0,0,1,0,False

In [30]:
# Create two new dataframes, one with the training rows, one with the test rows
train1, test1 = train_data[train_data['is_target']==True], train_data[train_data['is_target']==False]
# Show the number of observations for the test and training dataframes
print('Number of observations in the training data:', len(train1))
print('Number of observations in the test data:',len(test1))

Number of observations in the training data: 10955
Number of observations in the test data: 3689

In [31]:
features = train_data.columns[:1650]

# View features
features

Index(['n_0002', 'n_0005', 'n_0012', 'n_0019', 'n_0028', 'n_0034', 'n_0038',
       'n_0039', 'n_0047', 'n_0048',
       ...
       'c_1374_p', 'c_1374_q', 'c_1374_r', 'c_1374_s', 'c_1374_t', 'c_1374_u',
       'c_1374_v', 'c_1374_w', 'c_1374_x', 'c_1377_b'],
      dtype='object', length=1650)

In [39]:
y = pd.factorize(train1['service_a'])[0]

# View target
y

array([0, 1, 1, ..., 1, 0, 1], dtype=int64)

In [40]:
clf = RandomForestClassifier(n_jobs=2, random_state=0)

# Train the Classifier to take the training features and learn how they relate
# to the training y (the species)
clf.fit(train1[features], y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=2,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [48]:
x=clf.predict(test1[features])

In [44]:
# View the predicted probabilities of the first 10 observations
clf.predict_proba(test1[features])[0:10]

array([[ 0.2,  0.8],
       [ 0.2,  0.8],
       [ 0.1,  0.9],
       [ 0.4,  0.6],
       [ 0.5,  0.5],
       [ 0.3,  0.7],
       [ 0.2,  0.8],
       [ 0.1,  0.9],
       [ 0.3,  0.7],
       [ 0.3,  0.7]])

In [46]:
#preds = train.target_names[clf.predict(test1[features])]
# View the PREDICTED species for the first five observations
#preds[0:5]

In [47]:
test1['service_a'].head()

4     0
10    0
13    0
24    1
31    1
Name: service_a, dtype: int64

In [49]:
# Create confusion matrix
pd.crosstab(test1['service_a'], x, rownames=['Actual'], colnames=['Predicted'])

Predicted     0     1
Actual
0           334  1551
1          1418   386

In [50]:
# View a list of the features and their importance scores
list(zip(train1[features], clf.feature_importances_))

[('n_0002', 0.012457812529560106),
 ('n_0005', 0.0056567902450973314),
 ('n_0012', 0.007572652325416351),
 ('n_0019', 0.0010071540426288084),
 ('n_0028', 0.0050860567220777459),
 ('n_0034', 0.0051905824392219895),
 ('n_0038', 0.0045701265555638301),
 ('n_0039', 0.0054200297833469063),
 ('n_0047', 0.0),
 ('n_0048', 0.0075104454291449437),
 ('n_0050', 0.0),
 ('n_0051', 0.0071072056214456936),
 ('n_0052', 0.0),
 ('n_0059', 0.0085991510714061251),
 ('n_0060', 0.0081293285820229245),
 ('n_0061', 0.0),
 ('n_0064', 0.0057610690932775885),
 ('n_0066', 0.0066768703155441018),
 ('n_0067', 0.0046275336347771246),
 ('n_0071', 0.0077532531150905134),
 ('n_0074', 0.004385150205947241),
 ('n_0075', 0.0),
 ('n_0078', 0.0057361194249309164),
 ('n_0083', 0.0032850971099779905),
 ('n_0086', 0.0060779431616660041),
 ('n_0091', 0.0),
 ('n_0095', 0.0080144182116043284),
 ('n_0099', 0.0087214087139836152),
 ('n_0100', 0.005015395165872843),
 ('n_0102', 0.0075589186301779675),
 ('n_0108', 0.013587049317847547),
 ('n_0109', 0.0035597231182623221),
 ('n_0110', 0.0059585817450539535),
 ('o_0120', 0.0023407961707755985),
 ('o_0125', 0.0028167583353397446),
 ('o_0129', 0.0039435330181515115),
 ('o_0132', 0.0026116522680797198),
 ('o_0141', 0.0077160543859137913),
 ('o_0144', 0.0033295019305281102),
 ('o_0147', 0.0023796137883537365),
 ('o_0152', 0.0043154038529328032),
 ('o_0153', 0.0033211464125078695),
 ('o_0154', 0.0029318891643884864),
 ('o_0157', 0.0030987984027816408),
 ('o_0168', 0.0039716511969951551),
 ('o_0175', 0.0029881103765061205),
 ('o_0176', 0.0067623960060946954),
 ('o_0179', 0.003517192990574171),
 ('o_0201', 0.0025328035485877947),
 ('o_0202', 0.0030417747253718729),
 ('o_0208', 0.0032637265234759529),
 ('o_0217', 0.0029094387499011111),
 ('o_0221', 0.0034668844855140222),
 ('o_0223', 0.0037362429821344778),
 ('o_0230', 0.0020743812475613717),
 ('o_0231', 0.0046304558930550131),
 ('o_0241', 0.0029169607454396112),
 ('o_0248', 0.0036748968906258729),
 ('o_0264', 0.003723371865478547),
 ('o_0265', 0.0021159197783865596),
 ('o_0268', 0.0034134356629200264),
 ('o_0270', 0.0033738403226625246),
 ('o_0274', 0.0042852635552408126),
 ('o_0276', 0.00323785528281162),
 ('o_0279', 0.0033774781843061083),
 ('o_0285', 0.0045132314671387603),
 ('o_0286', 0.0040763337883316366),
 ('o_0301', 0.003859923601677505),
 ('o_0314', 0.0018473526384409013),
 ('o_0315', 0.0022530189217287787),
 ('o_0323', 0.0021221278233125003),
 ('c_0332_b', 0.00028037310384161298),
 ('c_0337_b', 0.00022124822571484141),
 ('c_0339_b', 0.0),
 ('c_0348_b', 3.4366261211800788e-05),
 ('c_0348_c', 0.0),
 ('c_0348_d', 0.0),
 ('c_0348_e', 2.9371374827002465e-05),
 ('c_0348_f', 0.00027607020626347842),
 ('c_0348_g', 0.0),
 ('c_0348_h', 0.00044185589081068835),
 ('c_0348_i', 0.0),
 ('c_0348_j', 0.00011880151382321425),
 ('c_0348_k', 0.0),
 ('c_0348_l', 0.0),
 ('c_0348_m', 0.0),
 ('c_0348_n', 0.00026284579268466427),
 ('c_0348_o', 0.0),
 ('c_0348_p', 0.00024926901449376024),
 ('c_0348_q', 1.5909494697959679e-05),
 ('c_0348_r', 0.00022445896243555039),
 ('c_0348_s', 9.2469710747443605e-05),
 ('c_0348_t', 5.7510657407866551e-05),
 ('c_0348_u', 0.0),
 ('c_0348_v', 0.0),
 ('c_0348_w', 0.0),
 ('c_0351_c', 7.0446073397731384e-05),
 ('c_0351_d', 0.0),
 ('c_0351_e', 0.0),
 ('c_0351_f', 0.00032209936728334957),
 ('c_0351_g', 3.4677728135923816e-05),
 ('c_0351_h', 0.0),
 ('c_0351_i', 0.0),
 ('c_0351_j', 5.6758509037413127e-05),
 ('c_0351_k', 0.0),
 ('c_0351_l', 0.00015076539671644076),
 ('c_0351_m', 0.00030470216235912236),
 ('c_0351_n', 0.0),
 ('c_0351_o', 0.00042268796667478692),
 ('c_0351_p', 4.7487444325967588e-05),
 ('c_0351_q', 0.0001540070037689893),
 ('c_0351_r', 0.0),
 ('c_0351_s', 6.0260274761534911e-05),
 ('c_0351_t', 0.0),
 ('c_0351_u', 0.00011862251246363407),
 ('c_0351_v', 0.0),
 ('c_0351_w', 0.0),
 ('c_0357_b', 0.00055064531386033941),
 ('c_0357_c', 0.00065995718565070528),
 ('c_0361_b', 0.00068631259559893216),
 ('c_0364_b', 0.00033657808478447434),
 ('c_0368_b', 0.00043281638749193154),
 ('c_0369_b', 0.00010251855862973402),
 ('c_0369_c', 0.00010408516666376367),
 ('c_0369_d', 0.0),
 ('c_0369_e', 0.00048580432159959239),
 ('c_0369_f', 0.00032643435891405929),
 ('c_0369_g', 3.8061858543552183e-05),
 ('c_0369_h', 0.0),
 ('c_0369_i', 0.00024485783601784904),
 ('c_0369_j', 0.0),
 ('c_0369_k', 6.6773599425585915e-05),
 ('c_0369_l', 0.0013347161222276816),
 ('c_0369_m', 2.4836757169677296e-05),
 ('c_0369_n', 0.00059120398773139374),
 ('c_0369_o', 0.00016785305204231588),
 ('c_0369_p', 0.0001607672693577713),
 ('c_0369_q', 0.0),
 ('c_0369_r', 0.00010170502671381088),
 ('c_0369_s', 0.00013004840153652225),
 ('c_0369_t', 0.0),
 ('c_0369_u', 0.00022132836174886813),
 ('c_0369_v', 0.00014624915536436031),
 ('c_0376_b', 0.00020304006926100864),
 ('c_0377_b', 0.00060812917615227192),
 ('c_0384_b', 0.0012112161759131102),
 ('c_0389_b', 0.00039220397086596112),
 ('c_0391_b', 0.0),
 ('c_0391_c', 0.0057910563875160524),
 ('c_0391_d', 0.0),
 ('c_0391_e', 0.0),
 ('c_0391_f', 0.00054573918708268956),
 ('c_0391_g', 0.0064579176571936975),
 ('c_0391_h', 0.0),
 ('c_0391_i', 0.0),
 ('c_0391_j', 0.00025540979673603013),
 ('c_0391_k', 0.0),
 ('c_0391_l', 0.0),
 ('c_0391_m', 0.0),
 ('c_0391_n', 0.00043009332895665693),
 ('c_0391_o', 8.9767403875913463e-05),
 ('c_0391_p', 0.00010582727193333872),
 ('c_0391_q', 0.0010735161347600046),
 ('c_0391_r', 6.4983462967056454e-05),
 ('c_0391_s', 0.0010316698881178423),
 ('c_0391_t', 0.0),
 ('c_0391_u', 0.0),
 ('c_0391_v', 0.0),
 ('c_0391_w', 0.0),
 ('c_0401_b', 0.00055023123243929132),
 ('c_0403_b', 0.00034440861109495387),
 ('c_0403_c', 4.3217784400918388e-05),
 ('c_0403_d', 0.00014198413920585293),
 ('c_0403_e', 1.2973299537766443e-05),
 ('c_0403_f', 0.0),
 ('c_0403_g', 0.00026550506276853318),
 ('c_0403_h', 0.00028308888700906822),
 ('c_0405_b', 3.352789840421578e-05),
 ('c_0405_c', 0.0),
 ('c_0405_d', 1.001319816150147e-05),
 ('c_0405_e', 0.00019523571284352616),
 ('c_0405_f', 6.314683148377633e-05),
 ('c_0405_g', 6.9630066939056927e-05),
 ('c_0405_h', 4.3766105935908375e-05),
 ('c_0405_i', 0.0),
 ('c_0405_j', 0.0),
 ('c_0405_k', 0.0),
 ('c_0405_l', 0.0013795229812509405),
 ('c_0405_m', 0.0),
 ('c_0405_n', 0.00072723876790693721),
 ('c_0405_o', 0.0),
 ('c_0405_p', 3.9941620011577292e-05),
 ('c_0405_q', 0.00027738213454406503),
 ('c_0405_r', 0.00020770997382855375),
 ('c_0405_s', 0.0),
 ('c_0405_t', 0.0),
 ('c_0405_u', 0.0),
 ('c_0405_v', 0.00011399713001264549),
 ('c_0409_b', 0.0),
 ('c_0409_c', 0.0),
 ('c_0409_d', 0.00028133970380736354),
 ('c_0409_e', 0.0),
 ('c_0409_f', 0.0012842278570802772),
 ('c_0409_g', 0.0),
 ('c_0409_h', 0.0),
 ('c_0409_i', 0.00078584043524460197),
 ('c_0409_j', 0.0),
 ('c_0409_k', 0.0001227927050197364),
 ('c_0409_m', 0.0),
 ('c_0409_n', 0.0),
 ('c_0409_o', 9.2404395290413796e-05),
 ('c_0409_p', 0.0024229677182648554),
 ('c_0409_q', 0.0),
 ('c_0409_r', 0.00025978156276492374),
 ('c_0409_s', 0.00043994261520009759),
 ('c_0409_t', 6.4033613355043772e-05),
 ('c_0409_u', 0.0),
 ('c_0409_v', 0.0),
 ('c_0409_w', 0.0),
 ('c_0409_x', 2.3537492041369829e-05),
 ('c_0412_b', 0.00013522297354555982),
 ('c_0412_c', 0.00028735393300984572),
 ('c_0412_d', 0.00038410471145682831),
 ('c_0412_e', 0.0004946828466499037),
 ('c_0419_b', 6.7079776864699942e-05),
 ('c_0422_b', 1.8334167115355866e-05),
 ('c_0423_b', 0.0),
 ('c_0423_c', 2.8699189155331783e-05),
 ('c_0423_d', 0.0),
 ('c_0423_e', 6.1835588481598473e-05),
 ('c_0423_f', 0.00025929613779175626),
 ('c_0424_b', 0.00015398235809031276),
 ('c_0424_c', 0.00024123267504277626),
 ('c_0424_d', 0.00014507728577028105),
 ('c_0424_e', 7.4492250878007446e-05),
 ('c_0424_f', 9.9748346787892911e-05),
 ('c_0426_b', 0.00086588790698409088),
 ('c_0428_b', 0.00010807398109068567),
 ('c_0430_b', 0.00027374370811982342),
 ('c_0430_c', 0.0002347499423227115),
 ('c_0432_b', 0.00046442472140925743),
 ('c_0432_c', 0.00073037768933279271),
 ('c_0432_d', 9.3297889791121153e-05),
 ('c_0432_e', 0.00011005104404766598),
 ('c_0432_f', 0.00014626305580348503),
 ('c_0434_b', 0.0),
 ('c_0434_c', 0.0),
 ('c_0434_d', 0.00014722905351554358),
 ('c_0434_e', 0.0),
 ('c_0434_f', 0.0033422115567534336),
 ('c_0434_g', 0.0),
 ('c_0434_h', 0.0003072705618074125),
 ('c_0434_i', 6.0232752475195959e-05),
 ('c_0434_j', 0.0),
 ('c_0434_k', 8.6828660367779532e-05),
 ('c_0434_l', 0.00018753715069554856),
 ('c_0434_m', 2.7910163222039043e-05),
 ('c_0434_n', 0.0),
 ('c_0434_o', 0.0),
 ('c_0434_p', 0.00031109503099994177),
 ('c_0434_q', 0.0),
 ('c_0434_r', 0.0),
 ('c_0434_s', 0.0),
 ('c_0434_t', 0.00029562748293579972),
 ('c_0434_u', 0.0002698903107121156),
 ('c_0434_v', 0.00018622726258720525),
 ('c_0434_w', 0.0015413233375002823),
 ('c_0437_b', 0.0),
 ('c_0437_c', 0.0),
 ('c_0437_d', 0.00016055820359931462),
 ('c_0437_e', 0.0),
 ('c_0437_f', 0.0),
 ('c_0437_g', 0.00065213984399487999),
 ('c_0437_h', 0.00010885724957082784),
 ('c_0437_i', 0.0),
 ('c_0437_j', 0.00016726787032296625),
 ('c_0437_k', 0.0),
 ('c_0437_l', 0.0),
 ('c_0437_m', 0.0),
 ('c_0437_n', 0.00023673606582646521),
 ('c_0437_o', 0.0),
 ('c_0437_p', 0.00051996974791754485),
 ('c_0437_q', 0.0),
 ('c_0437_r', 0.0),
 ('c_0437_s', 0.0),
 ('c_0437_t', 0.00010279892434858097),
 ('c_0437_u', 0.0),
 ('c_0437_v', 0.00013150573422184594),
 ('c_0437_w', 0.00014407709537059876),
 ('c_0438_b', 0.00044939232733389118),
 ('c_0441_b', 0.00057236695463530444),
 ('c_0441_c', 0.0),
 ('c_0441_d', 0.00011475528392985006),
 ('c_0441_e', 0.00025385387914580402),
 ('c_0443_b', 0.0),
 ('c_0443_c', 7.6697066965872911e-05),
 ('c_0444_b', 0.0014175274002079582),
 ('c_0449_b', 0.00057096052642848047),
 ('c_0453_b', 0.00054261327279466669),
 ('c_0454_b', 0.00083222009424733113),
 ('c_0456_b', 0.0005998465334951759),
 ('c_0461_b', 0.0012495206519386533),
 ('c_0463_b', 0.00084732247965823659),
 ('c_0463_c', 0.0),
 ('c_0463_d', 6.4658861303643834e-05),
 ('c_0466_b', 0.0010310066867736183),
 ('c_0466_c', 0.00134153050816514),
 ('c_0468_b', 0.00038664367475095416),
 ('c_0473_b', 0.0),
 ('c_0475_b', 2.7447313184892523e-05),
 ('c_0475_c', 0.00086194213730465764),
 ('c_0475_d', 0.00061689208578850365),
 ('c_0475_e', 0.0),
 ('c_0489_b', 0.00036018210737937678),
 ('c_0492_b', 0.00029835643250614147),
 ('c_0500_b', 0.0014675003553627467),
 ('c_0500_c', 0.00041625006134506944),
 ('c_0500_d', 0.00017129461837830538),
 ('c_0500_e', 0.00015154076388199155),
 ('c_0500_f', 0.00042131244082805746),
 ('c_0500_g', 0.00014057517594808617),
 ('c_0500_h', 0.00081590265811250576),
 ('c_0500_i', 0.00034367959718220093),
 ('c_0502_b', 0.00085375410431827448),
 ('c_0502_c', 0.00023000677276831981),
 ('c_0502_d', 0.0003005636643228605),
 ('c_0502_e', 3.4839028035287196e-05),
 ('c_0502_f', 0.00038475146297664391),
 ('c_0516_b', 0.0011630573381882611),
 ('c_0516_c', 0.00096564285554499602),
 ('c_0523_b', 0.00013343740197817189),
 ('c_0523_c', 0.0),
 ('c_0523_d', 0.0),
 ('c_0523_e', 0.0),
 ('c_0523_f', 0.0),
 ('c_0523_g', 0.0003075417543527537),
 ('c_0523_h', 0.0),
 ('c_0523_i', 0.00069046873922859703),
 ('c_0523_j', 0.0),
 ('c_0523_k', 0.0),
 ('c_0523_l', 9.1943630019434433e-05),
 ('c_0523_m', 3.2620954808051806e-05),
 ('c_0523_n', 0.0),
 ('c_0523_o', 9.0219127743755649e-05),
 ('c_0523_p', 0.00048655535710226378),
 ('c_0523_q', 0.0),
 ('c_0523_r', 0.0),
 ('c_0523_s', 0.00012655759000203631),
 ('c_0523_t', 3.2309695580881107e-05),
 ('c_0523_u', 2.8879346916278212e-05),
 ('c_0523_v', 0.0),
 ('c_0523_w', 0.0),
 ('c_0526_b', 8.3787973564576724e-05),
 ('c_0527_b', 0.00038093150160791649),
 ('c_0543_b', 0.0016226491624228012),
 ('c_0543_c', 0.00079896209187457832),
 ('c_0544_b', 0.00044836533098879209),
 ('c_0544_c', 0.001041481070709234),
 ('c_0544_d', 0.00092388158096115883),
 ('c_0544_e', 0.0015103602787582284),
 ('c_0550_b', 0.00071504585537900708),
 ('c_0550_c', 0.00082398836074908653),
 ('c_0554_b', 0.0010226571415983194),
 ('c_0560_b', 0.0),
 ('c_0564_b', 0.00025081863754930375),
 ('c_0564_c', 0.00090418101599979155),
 ('c_0564_d', 0.00025820089524023724),
 ('c_0564_e', 0.00017470532315840768),
 ('c_0564_f', 8.9576495998233382e-05),
 ('c_0572_b', 0.0037010648640727487),
 ('c_0572_c', 0.00067237488730347689),
 ('c_0572_d', 0.00017280150239318452),
 ('c_0572_e', 0.0),
 ('c_0572_f', 0.00023660287091167902),
 ('c_0572_g', 0.001647369035507381),
 ('c_0573_b', 0.00070313467873683172),
 ('c_0573_c', 0.00086563235207092241),
 ('c_0573_d', 0.00061342142305722169),
 ('c_0576_b', 3.982734313434043e-05),
 ('c_0576_c', 0.00010036600448480614),
 ('c_0576_d', 0.0),
 ('c_0576_e', 0.0),
 ('c_0576_f', 0.00018042880888377756),
 ('c_0576_g', 0.0012897264300179875),
 ('c_0576_h', 0.0),
 ('c_0576_i', 0.00052128674267775885),
 ('c_0576_k', 0.0),
 ('c_0576_l', 5.1742054959567788e-05),
 ('c_0576_m', 0.0),
 ('c_0576_n', 7.7169522006138448e-05),
 ('c_0576_o', 0.00028286103820796574),
 ('c_0576_p', 0.0),
 ('c_0576_q', 0.0),
 ('c_0576_r', 0.0027431507891842047),
 ('c_0576_s', 0.00020629183918985332),
 ('c_0576_t', 0.0),
 ('c_0576_u', 0.00016001845449263656),
 ('c_0576_v', 0.0),
 ('c_0576_w', 0.00040559138636030065),
 ('c_0578_b', 0.00015567500176927464),
 ('c_0580_b', 0.00052720549344013239),
 ('c_0582_b', 0.0),
 ('c_0582_c', 0.0012256490233424095),
 ('c_0582_d', 0.00033228399620849943),
 ('c_0582_e', 0.00015441140936717042),
 ('c_0582_f', 0.0014933081919081142),
 ('c_0585_b', 0.00029231381078410781),
 ('c_0587_b', 0.0),
 ('c_0587_c', 0.0),
 ('c_0587_d', 0.0),
 ('c_0587_e', 0.0),
 ('c_0587_f', 0.00041818537064946268),
 ('c_0587_g', 3.9082689499091397e-05),
 ('c_0587_h', 0.0),
 ('c_0587_i', 0.0),
 ('c_0587_j', 0.0),
 ('c_0587_k', 0.00012040519308882875),
 ('c_0587_l', 0.0),
 ('c_0587_m', 0.0),
 ('c_0587_n', 0.00011411122232286086),
 ('c_0587_o', 7.2734019641176162e-05),
 ('c_0587_p', 0.00030726556999873428),
 ('c_0587_q', 0.0),
 ('c_0587_r', 0.00010124759875664736),
 ('c_0587_s', 2.9358859327246628e-05),
 ('c_0587_t', 0.0),
 ('c_0587_u', 0.0001823291482489424),
 ('c_0587_v', 0.00031244614779729558),
 ('c_0587_w', 0.0),
 ('c_0587_x', 0.0),
 ('c_0590_c', 0.00059133300794868662),
 ('c_0590_d', 0.0010963147247698927),
 ('c_0590_e', 0.0013503947968231747),
 ('c_0591_b', 2.4476145689168721e-05),
 ('c_0591_c', 0.00018327324806639963),
 ('c_0591_d', 0.00012918021414047928),
 ('c_0591_e', 0.0003678465449640445),
 ('c_0591_f', 0.00029653455993146024),
 ('c_0591_g', 0.0014113026201431253),
 ('c_0591_h', 0.00018660903778972585),
 ('c_0591_i', 0.0002192254781206013),
 ('c_0591_j', 0.00018117626872635742),
 ('c_0591_k', 0.00017308316397855633),
 ('c_0591_l', 9.951172441856828e-05),
 ('c_0591_m', 0.00028242838763154068),
 ('c_0591_n', 0.00041675433872378939),
 ('c_0591_o', 0.00027256539265817583),
 ('c_0591_p', 8.0408567808358389e-05),
 ('c_0593_b', 7.1058091015068281e-05),
 ('c_0593_c', 0.0),
 ('c_0593_d', 0.00078782006217826617),
 ('c_0593_e', 0.00066264487264854988),
 ('c_0593_f', 0.00012935853548159013),
 ('c_0593_g', 0.00022384329103350515),
 ('c_0593_h', 1.5089571264144029e-05),
 ('c_0593_i', 6.0883554372492037e-05),
 ('c_0593_j', 0.0),
 ('c_0593_k', 0.0),
 ('c_0593_l', 0.0),
 ('c_0601_b', 0.00058553987810393694),
 ('c_0609_b', 0.0011377093670377311),
 ('c_0621_b', 0.00086804257587131989),
 ('c_0622_b', 0.00049463751667016263),
 ('c_0623_b', 0.0014343049993401288),
 ('c_0629_b', 0.00013962386353214405),
 ('c_0629_c', 0.00023369111775583667),
 ('c_0629_d', 0.00031312455948091561),
 ('c_0629_e', 8.8503848755759756e-05),
 ('c_0636_b', 0.00040883676274085983),
 ('c_0638_b', 0.0013033603822812892),
 ('c_0638_c', 0.00069736992313715568),
 ('c_0638_d', 0.00074091880741725992),
 ('c_0638_e', 0.00063900645025212976),
 ('c_0639_c', 0.00042063660222513126),
 ('c_0653_b', 0.00082208282949895154),
 ('c_0653_c', 0.00082841276977413739),
 ('c_0653_d', 0.00041231910615209348),
 ('c_0653_e', 0.00037143500508762345),
 ('c_0655_b', 0.00038347347816168902),
 ('c_0657_b', 0.00089331378786441549),
 ('c_0657_c', 0.00052977691674750086),
 ('c_0657_d', 0.00070953121244550607),
 ('c_0657_e', 0.0012914966419076104),
 ('c_0657_f', 0.0),
 ('c_0658_b', 1.7297470544888393e-05),
 ('c_0659_b', 0.001047779747916667),
 ('c_0662_b', 0.00077718940245715307),
 ('c_0665_b', 0.00081197470038525882),
 ('c_0671_b', 0.00028076290245209861),
 ('c_0671_c', 0.00015767626308021851),
 ('c_0671_d', 0.00034388439047236248),
 ('c_0671_e', 0.00037645002463843812),
 ('c_0671_f', 0.00044352434815094773),
 ('c_0685_c', 0.00059055054157017522),
 ('c_0696_b', 0.00020175115326332427),
 ('c_0696_c', 0.00026066923913659068),
 ('c_0696_d', 0.0),
 ('c_0696_e', 0.00022833001059055779),
 ('c_0696_f', 0.0),
 ('c_0696_g', 0.0),
 ('c_0696_h', 6.7162285860566587e-05),
 ('c_0696_i', 0.00019527862441402429),
 ('c_0696_j', 0.0),
 ('c_0696_k', 0.0037867141330850127),
 ('c_0696_l', 0.00018897837796435165),
 ('c_0696_m', 0.00010897527755465396),
 ('c_0696_n', 0.0),
 ('c_0696_o', 0.0),
 ('c_0696_p', 1.5567580118318649e-05),
 ('c_0696_q', 0.0),
 ('c_0696_r', 0.0),
 ('c_0696_s', 0.00032507209255995317),
 ('c_0696_t', 0.0),
 ('c_0696_u', 0.0),
 ('c_0696_v', 0.0),
 ('c_0696_w', 0.0),
 ('c_0699_b', 0.0062791300228071268),
 ('c_0699_c', 0.001466382193937575),
 ('c_0704_b', 0.00060080576912068201),
 ('c_0707_b', 0.001195186853589108),
 ('c_0709_b', 0.0014253029790239017),
 ('c_0717_b', 0.00051997316215458031),
 ('c_0722_b', 0.00046666036245986489),
 ('c_0724_b', 9.7723587856426677e-05),
 ('c_0724_c', 5.5216984064106956e-05),
 ('c_0724_d', 0.00070365308860934333),
 ('c_0724_e', 6.5093416913462326e-05),
 ('c_0724_f', 0.0),
 ('c_0724_g', 0.00014539292112791601),
 ('c_0724_h', 0.0001456470243321602),
 ('c_0724_i', 5.791611688023261e-05),
 ('c_0724_j', 9.5790009702569493e-05),
 ('c_0724_k', 0.00019352523119004039),
 ('c_0727_c', 0.0),
 ('c_0727_d', 0.0),
 ('c_0727_e', 0.0),
 ('c_0727_f', 0.0029105257238066793),
 ('c_0727_g', 2.6398867026536924e-05),
 ('c_0727_i', 3.396524581272394e-05),
 ('c_0727_j', 2.7594180306167455e-05),
 ('c_0727_k', 0.00034212587407524749),
 ('c_0727_l', 0.00035125336294829972),
 ('c_0727_m', 0.00018826782634120409),
 ('c_0727_n', 0.0),
 ('c_0727_o', 0.0),
 ('c_0727_p', 0.0),
 ('c_0727_q', 0.0),
 ('c_0727_r', 0.00042567753088276571),
 ('c_0727_s', 0.0),
 ('c_0727_t', 0.0),
 ('c_0727_u', 0.0),
 ('c_0727_v', 0.0),
 ('c_0727_w', 8.7380531869526171e-05),
 ('c_0727_x', 1.6400015890407661e-05),
 ('c_0728_b', 0.00040479796062060241),
 ('c_0728_c', 0.0),
 ('c_0728_d', 0.0),
 ('c_0728_e', 0.00017656724025338832),
 ('c_0728_f', 2.755655949248641e-05),
 ('c_0728_g', 0.0),
 ('c_0728_h', 0.0),
 ('c_0728_i', 0.0),
 ('c_0728_j', 0.00015708917086443782),
 ('c_0728_k', 0.00020586223304722403),
 ('c_0728_l', 0.0),
 ('c_0728_m', 0.00086238056829326894),
 ('c_0728_n', 0.0),
 ('c_0728_o', 6.1145209825284546e-05),
 ('c_0728_p', 0.00043282449520411139),
 ('c_0728_q', 3.4539990012630255e-05),
 ('c_0728_r', 0.0),
 ('c_0728_s', 0.00012855904504860535),
 ('c_0728_t', 0.0),
 ('c_0728_u', 0.00023550260161185054),
 ('c_0728_v', 0.00012497057449409543),
 ('c_0728_w', 0.00011969496753552058),
 ('c_0728_x', 0.0),
 ('c_0738_b', 0.00029750795851145355),
 ('c_0749_b', 0.0),
 ('c_0749_c', 0.0),
 ('c_0749_d', 0.0002903022529360098),
 ('c_0749_e', 0.0),
 ('c_0749_f', 4.8931432212077715e-05),
 ('c_0749_g', 0.0),
 ('c_0749_h', 0.00046709772939708676),
 ('c_0749_i', 0.00054081722865438283),
 ('c_0749_j', 0.0),
 ('c_0749_k', 0.00071236879933891787),
 ('c_0749_l', 8.5032811782867376e-05),
 ('c_0749_m', 0.00090729254762311946),
 ('c_0749_n', 0.00026174759326289514),
 ('c_0752_b', 0.0001121976938432868),
 ('c_0755_b', 0.0010352835578004004),
 ('c_0757_b', 0.00064932882050437062),
 ('c_0758_b', 0.00010687862567976287),
 ('c_0761_b', 0.0010849579904302653),
 ('c_0761_c', 0.00082687212979669735),
 ('c_0762_b', 0.00074315888920184828),
 ('c_0762_c', 0.00077901534952084736),
 ('c_0764_b', 0.00050670906488325257),
 ('c_0764_c', 0.00075426366577803603),
 ('c_0765_b', 0.00014101937918001945),
 ('c_0768_b', 0.00079074877322460292),
 ('c_0770_b', 0.0014881134293539269),
 ('c_0770_c', 0.00084216287821954996),
 ('c_0770_d', 0.00066168726067840713),
 ('c_0772_b', 0.00018016895761071005),